* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

/* Links */
a, a:link, a:visited {
	color: inherit;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
	font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

/* Form */
input, textarea, button, select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type=submit] {
	display: inline-block;
	-webkit-box-shadow: none;
	        box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

b, strong {
	font-weight: normal;
}

b {
	font-family: "LatoSB";
}

strong {
	font-family: "LatoB";
}

input[type=text], input[type=email], input[type=tel] {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	color: #272733;
	background: rgba(255, 255, 255, 0.85);
	border: 2px solid #fff;
	border-radius: 3px;
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
input[type=text]:hover, input[type=text]:focus, input[type=email]:hover, input[type=email]:focus, input[type=tel]:hover, input[type=tel]:focus {
	border-color: #42A9ED;
}

input[type=range] {
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	     appearance: none;
	background: transparent;
	cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
	background: rgba(255, 255, 255, 0.7);
	height: 6px;
	border: 1px solid #FFFFFF;
}
input[type=range]::-moz-range-track {
	background: rgba(255, 255, 255, 0.7);
	height: 6px;
	border: 1px solid #FFFFFF;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	margin-top: -10px;
	background-color: #42A9ED;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	border: 3px solid #286690;
}
input[type=range]::-moz-range-thumb {
	border: none;
	border-radius: 0;
	background-color: #42A9ED;
	height: 24px;
	width: 24px;
	border-radius: 50%;
}

body {
	font-family: "LatoR";
	background: #272733;
}

.button {
	max-width: 185px;
	width: 100%;
	height: 43px;
	background: #3E9CDC;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 4px;
	font-size: 13px;
	text-transform: uppercase;
	-webkit-transition: color, background, -webkit-box-shadow ease 0.2s;
	transition: color, background, -webkit-box-shadow ease 0.2s;
	-o-transition: color, background, box-shadow ease 0.2s;
	transition: color, background, box-shadow ease 0.2s;
	transition: color, background, box-shadow ease 0.2s, -webkit-box-shadow ease 0.2s;
}
.button:hover {
	-webkit-box-shadow: 0 0 15px #3E9CDC;
	        box-shadow: 0 0 15px #3E9CDC;
	border-color: transparent;
}

a.button {
	color: #fff;
	text-align: center;
	line-height: 43px;
}

.button.button-white {
	background: #fff;
	color: #2A2B30;
	border-color: #6F6D7B;
}
.button.button-white:hover {
	-webkit-box-shadow: 0 0 15px #6F6D7B;
	        box-shadow: 0 0 15px #6F6D7B;
}

.title {
	text-align: center;
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-family: "LatoH";
}
.title span {
	color: #42A9ED;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(16, 16, 29, 0.9);
	padding: 33px 0;
	color: #fff;
	z-index: 1001;
	-webkit-transition: padding ease 0.2s;
	-o-transition: padding ease 0.2s;
	transition: padding ease 0.2s;
}
.header.active {
	padding: 15px 0;
}
.header .header-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header .header-item .header-items__logo {
	font-size: 28px;
	font-family: "RalewayB";
	text-transform: uppercase;
}
.header .header-item .header-items__logo span {
	color: #42A9ED;
}
.header .header-item .header-items-menu {
	margin-left: auto;
}
.header .header-item .header-items-menu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.header .header-item .header-items-menu ul li:not(:last-child) {
	margin-right: 60px;
}
.header .header-item .header-items-menu ul li a {
	font-size: 13px;
	font-family: "LatoSB";
	text-transform: uppercase;
}
.header .header-item .header-items-menu ul li a:hover, .header .header-item .header-items-menu ul li a.active {
	color: #42A9ED;
}
.header .header-item .header-items-bar {
	margin-left: auto;
	z-index: 1;
}
.header .header-item .header-items-bar button {
	width: 27px;
	overflow: hidden;
}
.header .header-item .header-items-bar button span {
	display: block;
	width: 75%;
	height: 2px;
	background: #fff;
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
.header .header-item .header-items-bar button span:not(:last-child) {
	margin-bottom: 6px;
}
.header .header-item .header-items-bar button span:nth-child(2) {
	width: 100%;
}
.header .header-item .header-items-bar button span:nth-child(3) {
	width: 50%;
}
.header .header-item .header-items-bar button.active span:nth-child(1) {
	width: 100%;
	-webkit-transform: translate(-3px, 8px) rotate(45deg);
	    -ms-transform: translate(-3px, 8px) rotate(45deg);
	        transform: translate(-3px, 8px) rotate(45deg);
}
.header .header-item .header-items-bar button.active span:nth-child(2) {
	-webkit-transform: translateX(-100%);
	    -ms-transform: translateX(-100%);
	        transform: translateX(-100%);
	opacity: 0;
}
.header .header-item .header-items-bar button.active span:nth-child(3) {
	width: 100%;
	-webkit-transform: translate(-4px, -8px) rotate(-45deg);
	    -ms-transform: translate(-4px, -8px) rotate(-45deg);
	        transform: translate(-4px, -8px) rotate(-45deg);
}

.home-banner {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-top: 100px;
}
.home-banner .home-banner-item h1 {
	font-size: 48px;
	max-width: 780px;
	text-transform: uppercase;
	font-family: "LatoB";
	margin-bottom: 80px;
}
.home-banner .home-banner-item h1 span {
	color: #42A9ED;
}
.home-banner .home-banner-item p {
	font-size: 20px;
	margin-bottom: 10px;
}
.home-banner .home-banner-item ul {
	margin-bottom: 80px;
}
.home-banner .home-banner-item ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 20px;
}
.home-banner .home-banner-item ul li::before {
	content: "-";
	text-align: center;
	min-width: 25px;
	height: 25px;
	margin-right: 1px;
}
.home-banner .home-banner-item .button {
	margin-right: 30px;
}

.checkout {
	padding: 120px 0 150px;
	color: #fff;
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	overflow: hidden;
}
.checkout .checkout-item-header p {
	font-size: 18px;
	color: #bbb;
	text-align: center;
}
.checkout .checkout-item-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 80px 0;
	background-image: url("../img/svg/dotted.svg");
	background-repeat: no-repeat;
	background-position: top 50px center;
}
.checkout .checkout-item-list li {
	position: relative;
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	width: 20%;
	text-align: center;
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
.checkout .checkout-item-list li:hover .checkout-item-list__ico {
	-webkit-animation: blink infinite 2s;
	        animation: blink infinite 2s;
}
.checkout .checkout-item-list li .checkout-item-list__ico {
	position: relative;
	max-width: 100px;
	height: 100px;
	margin: 0 auto 20px;
	background: #3E9CDC;
	border: 5px solid #286690;
	border-radius: 50%;
	text-align: center;
	line-height: 135px;
}
.checkout .checkout-item-list li .checkout-item-list__ico svg {
	width: 55px;
	height: 55px;
}
.checkout form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0 -15px;
}
.checkout form > * {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	width: 33.333333%;
	padding: 0 15px;
	margin-bottom: 30px;
}
.checkout form .checkout-item-group-range {
	width: 66.666666%;
}
.checkout form .checkout-item-group-range span {
	display: block;
	margin-bottom: 12px;
}
.checkout form .checkout-item-group-file {
	position: relative;
}
.checkout form .checkout-item-group-file input[type=file] {
	position: absolute;
	top: 0;
	opacity: 0;
	visibility: hidden;
}
.checkout form .checkout-item-group-file label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 48px;
	font-size: 15px;
	font-family: "LatoSB";
	text-transform: uppercase;
	color: #272733;
	background: #FFFFFF;
	border: 2px solid #3E9CDC;
	border-radius: 3px;
	-webkit-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	transition: all ease 0.2s;
}
.checkout form .checkout-item-group-file label:hover {
	-webkit-box-shadow: 0 0 10px #3E9CDC;
	        box-shadow: 0 0 10px #3E9CDC;
}
.checkout form .checkout-item-group-file label svg {
	max-width: 18px;
	height: 20px;
	margin-right: 10px;
}
.checkout form .checkout-item-group-btn {
	width: 100%;
	margin-top: 10px;
}
.checkout form .checkout-item-group-btn .button {
	max-width: 370px;
	display: block;
	margin: 0 auto;
}

@-webkit-keyframes blink {
	0% {
		-webkit-box-shadow: 0 0 0 0px rgba(40, 102, 144, 0.7);
		        box-shadow: 0 0 0 0px rgba(40, 102, 144, 0.7);
	}
	70% {
		-webkit-box-shadow: 0 0 0 1.53em rgba(40, 102, 144, 0);
		        box-shadow: 0 0 0 1.53em rgba(40, 102, 144, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(40, 102, 144, 0);
		        box-shadow: 0 0 0 0 rgba(40, 102, 144, 0);
	}
}

@keyframes blink {
	0% {
		-webkit-box-shadow: 0 0 0 0px rgba(40, 102, 144, 0.7);
		        box-shadow: 0 0 0 0px rgba(40, 102, 144, 0.7);
	}
	70% {
		-webkit-box-shadow: 0 0 0 1.53em rgba(40, 102, 144, 0);
		        box-shadow: 0 0 0 1.53em rgba(40, 102, 144, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(40, 102, 144, 0);
		        box-shadow: 0 0 0 0 rgba(40, 102, 144, 0);
	}
}
.dropdown {
	max-width: 100%;
	position: relative;
}
.dropdown .dropdown__button {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 18px;
	line-height: 18px;
	color: #444444;
	width: 100%;
	text-align: left;
	background: rgba(255, 255, 255, 0.85);
	border: 1px solid #FFFFFF;
	border-radius: 3px;
	height: 48px;
	padding: 12px 35px 12px 10px;
	cursor: pointer;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.dropdown .dropdown__button::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 10px;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background: url("../img/svg/dropdown-black.svg");
	pointer-events: none;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.dropdown .dropdown__button_active {
	color: #fff;
	background: rgba(61, 64, 80, 0.85);
	border-radius: 3px 3px 0px 0px;
	border-color: transparent;
}
.dropdown .dropdown__button_active::after {
	-webkit-transform: translateY(-50%) rotate(-180deg);
	    -ms-transform: translateY(-50%) rotate(-180deg);
	        transform: translateY(-50%) rotate(-180deg);
	background: url("../img/svg/dropdown-white.svg");
}
.dropdown .dropdown__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	left: 0;
	top: 48px;
	border: 1px solid #3D4050;
	background: rgba(39, 39, 51, 0.9);
	overflow-x: hidden;
	width: 100%;
	height: 180px;
	padding: 15px 4px 10px 10px;
	border-radius: 3px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all ease 0.2s ease;
	-o-transition: all ease 0.2s ease;
	transition: all ease 0.2s ease;
}
.dropdown .dropdown__list::-webkit-scrollbar {
	width: 7px;
}
.dropdown .dropdown__list::-webkit-scrollbar-track {
	background-color: #3D4050;
	border-radius: 50px;
}
.dropdown .dropdown__list::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #3E9CDC;
}
.dropdown .dropdown__list .dropdown__list-item {
	margin: 0;
	cursor: pointer;
	font-size: 18px;
	line-height: 34px;
	color: #fff;
	-webkit-transition: 200ms ease;
	-o-transition: 200ms ease;
	transition: 200ms ease;
}
.dropdown .dropdown__list .dropdown__list-item:hover {
	color: #42A9ED;
}
.dropdown .dropdown__list .dropdown__list-item_active {
	color: #42A9ED;
}
.dropdown .dropdown__list_visible {
	opacity: 1;
	visibility: visible;
}
.dropdown .dropdown__input_hidden {
	display: none;
}

.footer {
	padding: 30px 0;
	color: #fff;
	font-size: 13px;
	background: #3D4050;
}
.footer .row {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.footer .footer-copyright {
	max-width: 27%;
}
.footer .footer-contacts {
	max-width: 73%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: -15px;
}
.footer .footer-contacts .footer-contacts-items {
	border-left: 1px solid #C3C3C3;
	margin-top: 15px;
}
.footer .footer-contacts .footer-contacts-items ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 40px;
}
.footer .footer-contacts .footer-contacts-items ul li:not(:last-child) {
	margin-right: 38px;
}
.footer .footer-contacts .footer-contacts-items ul li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #C3C3C3;
	-webkit-transition: color ease 0.1s;
	-o-transition: color ease 0.1s;
	transition: color ease 0.1s;
}
.footer .footer-contacts .footer-contacts-items ul li a:hover {
	color: #fff;
}
.footer .footer-contacts .footer-contacts-items ul li a svg {
	min-width: 20px;
	max-width: 20px;
	height: 20px;
	margin-right: 10px;
}