@font-face {
    font-family: 'RalewayB';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
        url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'LatoR';
    src: url('../fonts/../fonts/Lato-Regular.eot');
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../fonts/../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/Lato-Regular.woff') format('woff'),
        url('../fonts/../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoSB';
    src: url('../fonts/../fonts/Lato-Semibold.eot');
    src: local('Lato Semibold'), local('Lato-Semibold'),
        url('../fonts/../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/Lato-Semibold.woff') format('woff'),
        url('../fonts/../fonts/Lato-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'LatoB';
    src: url('../fonts/../fonts/Lato-Bold.eot');
    src: local('Lato Bold'), local('Lato-Bold'),
        url('../fonts/../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/Lato-Bold.woff') format('woff'),
        url('../fonts/../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}