@media (max-width: 1250px) {
	.header {
		padding: 20px 0;

		.header-item {

			.header-items__logo {
				font-size: 21px;
			}

			.header-items-menu {

				ul {

					li {

						a {
							font-size: 12px
						}
					}
				}
			}
		}
	}

	.home-banner {
		.home-banner-item {
			h1 {
				font-size: 38px;
				margin-bottom: 50px;
			}

			p {
				font-size: 16px;
			}

			ul {
				margin-bottom: 50px;

				li {
					font-size: 16px;
				}
			}
		}
	}

	.checkout {
		padding: 80px 0 100px;

		.checkout-item-list {
			margin: 50px 0;
			background-image: none;

			li {
				font-size: 14px;

				.checkout-item-list__ico {
					max-width: 90px;
					height: 90px;
					line-height: 115px;

					svg {
						width: 45px;
						height: 45px
					}
				}
			}
		}
	}


	.footer {
		font-size: 12px;

		.footer-copyright {
			max-width: 25%;;
		}

		.footer-contacts {
			max-width: 75%;

			.footer-contacts-items {
				ul {
					padding-left: 25px;

					li:not(:last-child) {
						margin-right: 20px;
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.header {

		.header-item {

			.header-items-menu {

				ul {

					li {

						&:not(:last-child) {
							margin-right: 35px;
						}
					}
				}
			}
		}
	}

	.home-banner {
		padding-top: 65px;

		.home-banner-item {
			h1 {
				font-size: 28px;
				margin-bottom: 30px;
			}

			ul {
				margin-bottom: 30px;
			}
		}
	}


	.title {
		font-size: 30px;
		margin-bottom: 20px;
	}

	.checkout {
		.checkout-item-header {
			p {
				font-size: 16px;
			}
		}

		.checkout-item-list {
			margin-top: 35px;
			li {
				width: 25%;
				margin-top: 15px;
			}
		}

		form {
			.checkout-item-group-range {
				font-size: 14px;

				span {
					margin-bottom: 7px;
				}
			}

			.checkout-item-group-file {
				label {
					height: 40px;
					font-size: 14px;
				}
			}
		}
	}

	.dropdown {
		.dropdown__button {
			font-size: 14px;
			height: 40px;
		}

		.dropdown__list {
			.dropdown__list-item {
				font-size: 14px;
			}
		}
	}

	input[type=text], input[type=email], input[type=tel] {
		height: 40px;
		font-size: 14px;
	}

	.footer {
		font-size: 12px;

		.footer-copyright,
		.footer-contacts {
			max-width: 100%;
			text-align: center;
		}

		.footer-copyright {
			margin-bottom: 25px;
		}

		.footer-contacts {
			display: block;

			.footer-contacts-items {
				border: none;

				ul {
					flex-wrap: wrap;
					justify-content: center;
					padding: 0;

					li {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.header {
		.header-item {
			.header-items-menu {
				position: fixed;
				top: 64px;
				right: 0;
				height: 100%;
				padding: 2rem 2rem 1rem 2rem;
				background: rgba(16, 16, 29, 0.9);
				transform: translateX(100%);
				transition: transform, top ease .4s;

				&.active {
					transform: translateX(0);
				}

				ul {
					display: block;

					li {

						&:not(:last-child) {
							margin-right: 0;
							margin-bottom: 1rem;
						}

						a {
							font-size: 14px;
						}
					}
				}
			}
		}

		&.active .header-items-menu {
			top: 54px
		}
	}

	.home-banner {
		height: auto;
		min-height: 500px;
		padding-top: 55px;
	}


	.checkout {
		padding: 50px 0;

		.checkout-item-list {
			li {
				width: 50%
			}
		}

		form > * {
			width: 100%;
			margin-bottom: 20px;
		}

		form {
			.checkout-item-group-range {
				width: 100%;
			}

			.checkout-item-group-btn {
				.button {
					max-width: 100%;
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.header {
		padding: 15px 0;

		.header-item {
			.header-items__logo {
				font-size: 18px;
			}

			.header-items-menu {
				top: 52px;
			}
		}
	}

	.home-banner {
		.home-banner-item {
			h1 {
				font-size: 21px;
			}

			ul {
				margin-bottom: 10px;
			}

			.button {
				max-width: 100%;
				margin: 10px 0 0 0
			}
		}
	}

	.title {
		font-size: 21px;
	}

	.checkout {
		.checkout-item-header {
			p {
				font-size: 14px;
			}
		}

		.checkout-item-list {
			li {
				.checkout-item-list__ico {
					max-width: 80px;
					height: 80px;
					line-height: 100px;

					svg {
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.header-items-bar {
		display: none;
	}
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {
}