$active-bg: #42A9ED;
$button-bg: #3E9CDC;
$button-bg-rgb: rgb(62, 156, 220);
$button-active-bg-rgb: rgb(40, 102, 144);

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	 outline: none;
}

/* Links */

a, a:link, a:visited  {
	 color: inherit; 
	text-decoration: none;
	 display: inline-block; 
}

a:hover  {
	 color: inherit; 
	text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
	font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

b, strong {
	font-weight: normal;
}

b {
	font-family: 'LatoSB';
}

strong {
	font-family: 'LatoB';
}

input[type="text"], input[type="email"], input[type="tel"] {
	width: 100%;
	height: 48px;
	padding: 0 10px;
	color: #272733;
	background: rgba(255, 255, 255, 0.85);
	border: 2px solid #fff;
	border-radius: 3px;
	transition: all ease .2s;

	&:hover,
	&:focus {
		border-color: $active-bg;
	}
}

input[type="range"] {
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;

	&::-webkit-slider-runnable-track {
		background: rgba(255, 255, 255, 0.7);
		height: 6px;
		border: 1px solid #FFFFFF;
	}

	&::-moz-range-track {
		background: rgba(255, 255, 255, 0.7);
		height: 6px;
		border: 1px solid #FFFFFF;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		margin-top: -10px;
		background-color: #42A9ED;
		height: 24px;
		width: 24px;
		border-radius: 50%;
		border: 3px solid #286690
	}

	&::-moz-range-thumb {
		border: none;
		border-radius: 0;
		background-color: #42A9ED;
		height: 24px;
		width: 24px;
		border-radius: 50%;
	}
}

body {
	font-family: 'LatoR';
	background: #272733;
}

.button {
	max-width: 185px;
	width: 100%;
	height: 43px;
	background: $button-bg;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 4px;
	font-size: 13px;
	text-transform: uppercase;
	transition: color, background, box-shadow ease .2s;

	&:hover {
		box-shadow: 0 0 15px $button-bg;
		border-color: transparent;
	}
}

a.button {
	color: #fff;
	text-align: center;
	line-height: 43px;
}

.button.button-white {
	background: #fff;
	color: #2A2B30;
	border-color: #6F6D7B;

	&:hover {
		box-shadow: 0 0 15px #6F6D7B;
	}
}

.title {
	text-align: center;
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-family: 'LatoH';

	span {
		color: $active-bg;
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(16, 16, 29, 0.9);;
	padding: 33px 0;
	color: #fff;
	z-index: 1001;
	transition: padding ease .2s;

	&.active {
		padding: 15px 0;
	}

	.header-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;


		.header-items__logo {
			font-size: 28px;
			font-family: 'RalewayB';
			text-transform: uppercase;

			span {
				color: $active-bg;
			}
		}

		.header-items-menu {
			margin-left: auto;

			ul {
				display: flex;
				flex-wrap: wrap;

				li {

					&:not(:last-child) {
						margin-right: 60px;
					}

					a {
						font-size: 13px;
						font-family: 'LatoSB';
						text-transform: uppercase;
					}

					a:hover, a.active {
						color: $active-bg;
					}
				}
			}
		}

		.header-items-bar {
			margin-left: auto;
			z-index: 1;

			button {
				width: 27px;
				overflow: hidden;

				span {
					display: block;
					width: 75%;
					height: 2px;
					background: #fff;
					transition: all ease .2s;

					&:not(:last-child) {
						margin-bottom: 6px;
					}

					&:nth-child(2) {
						width: 100%;
					}

					&:nth-child(3) {
						width: 50%;
					}
				}

				&.active span {
					&:nth-child(1) {
						width: 100%;
						transform: translate(-3px, 8px) rotate(45deg);
					}

					&:nth-child(2) {
						transform: translateX(-100%);
						opacity: 0;
					}

					&:nth-child(3) {
						width: 100%;
						transform: translate(-4px, -8px) rotate(-45deg);
					}
				}
			}
		}
	}
}

.home-banner {
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 100px;

	.home-banner-item {

		h1 {
			font-size: 48px;
			max-width: 780px;
			text-transform: uppercase;
			font-family: 'LatoB';
			margin-bottom: 80px;

			span {
				color: $active-bg;
			}
		}

		p {
			font-size: 20px;
			margin-bottom: 10px;
		}

		ul {
			margin-bottom: 80px;

			li {
				display: flex;
				font-size: 20px;

				&::before {
					content: '-';
					text-align: center;
					min-width: 25px;
					height: 25px;
					margin-right: 1px;
				}
			}
		}

		.button {
			margin-right: 30px;
		}
	}
}


.checkout {
	padding: 120px 0 150px;
	color: #fff;
	background-image: url('../img/map.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	overflow: hidden;

	.checkout-item-header p {
		font-size: 18px;
		color: #bbb;
		text-align: center;
	}

	.checkout-item-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;;
		margin: 80px 0;
		background-image: url('../img/svg/dotted.svg');
		background-repeat: no-repeat;
		background-position: top 50px center;

		li {
			position: relative;
			flex: 0 0 auto;
			width: 20%;
			text-align: center;
			transition: all ease .2s;

			&:hover .checkout-item-list__ico {
				animation: blink infinite 2s;
			}
			
			.checkout-item-list__ico {
				position: relative;
				max-width: 100px;
				height: 100px;
				margin: 0 auto 20px;
				background: #3E9CDC;
				border: 5px solid #286690;
				border-radius: 50%;
				text-align: center;
				line-height: 135px;

				svg {
					width: 55px;
					height: 55px;
				}
			}
		}
	}

	form {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;

		> * {
			flex: 0 0 auto;
			flex-shrink: 0;
			width: 33.333333%;
			padding: 0 15px;
			margin-bottom: 30px;
		}

		.checkout-item-group-range {
			width: 66.666666%;

			span {
				display: block;
				margin-bottom: 12px;
			}
		}

		.checkout-item-group-file {
			position: relative;

			input[type="file"] {
				position: absolute;
				top: 0;
				opacity: 0;
				visibility: hidden;
			}

			label {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 48px;
				font-size: 15px;
				font-family: 'LatoSB';
				text-transform: uppercase;
				color: #272733;
				background: #FFFFFF;
				border: 2px solid #3E9CDC;
				border-radius: 3px;
				transition: all ease .2s;

				&:hover {
					box-shadow: 0 0 10px #3E9CDC;
				}

				svg {
					max-width: 18px;
					height: 20px;
					margin-right: 10px;
				}
			}
		}

		.checkout-item-group-btn {
			width: 100%;
			margin-top: 10px;

			.button {
				max-width: 370px;
				display: block;
				margin: 0 auto;
			}
		}
	}
}

@keyframes blink {
	0% {
		box-shadow: 0 0 0 0px rgba($button-active-bg-rgb, .7)
	}

	70% {
		box-shadow: 0 0 0 1.53em rgba($button-active-bg-rgb, 0)
	}

	100% {
		box-shadow: 0 0 0 0 rgba($button-active-bg-rgb, 0)
	}
}

.dropdown {
	max-width: 100%;
	position: relative;

	.dropdown__button {
		position: relative;
		display: flex;
		align-items: center;
		font-size: 18px;
		line-height: 18px;
		color: #444444;
		width: 100%;
		text-align: left;
		background: rgba(255, 255, 255, 0.85);;
		border: 1px solid #FFFFFF;
		border-radius: 3px;
		height: 48px;
		padding: 12px 35px 12px 10px;
		cursor: pointer;
		transition: all ease .3s;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			width: 20px;
			height: 20px;
			background: url("../img/svg/dropdown-black.svg");
			pointer-events: none;
			transition: all ease .3s;
		}
	}

	.dropdown__button_active {
		color: #fff;
		background: rgba(61, 64, 80, 0.85);
		border-radius: 3px 3px 0px 0px;
		border-color: transparent;
	}

	.dropdown__button_active::after {
		transform: translateY(-50%) rotate(-180deg);
		background: url("../img/svg/dropdown-white.svg");
	}

	.dropdown__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		position: absolute;
		left: 0;
		top: 48px;
		border: 1px solid #3D4050;
		background: rgba(39, 39, 51, 0.9);
		overflow-x: hidden;
		width: 100%;
		height: 180px;
		padding: 15px 4px 10px 10px;
		border-radius: 3px;
		z-index: 1;
		opacity: 0;
		visibility: hidden;
		transition: all ease .2s ease;

		&::-webkit-scrollbar {
			width: 7px;
		}

		&::-webkit-scrollbar-track {
			background-color: #3D4050;
			border-radius: 50px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 3px;
			background-color: #3E9CDC;
		}

		.dropdown__list-item {
			margin: 0;
			cursor: pointer;
			font-size: 18px;
			line-height: 34px;
			color: #fff;
			transition: 200ms ease;

			&:hover {
				color: $active-bg;
			}
		}
		.dropdown__list-item_active {
			color: $active-bg;
		}
	}

	.dropdown__list_visible {
		opacity: 1;
		visibility: visible;
	}

	.dropdown__input_hidden {
		display: none;
	}
}


.footer {
	padding: 30px 0;
	color: #fff;
	font-size: 13px;
	background: #3D4050;

	.row {
		align-items: center;
	}

	.footer-copyright {
		max-width: 27%;
	}

	.footer-contacts {
		max-width: 73%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-top: -15px;

		.footer-contacts-items {
			border-left: 1px solid #C3C3C3;
			margin-top: 15px;

			ul {
				display: flex;
				
				align-items: center;
				padding-left: 40px;
				
				li {

					&:not(:last-child) {
						margin-right: 38px;
					}
					a {
						display: flex;
						align-items: center;
						color: #C3C3C3;
						transition: color ease .1s;

					&:hover {
						color: #fff
					}

						svg {
							min-width: 20px;
							max-width: 20px;
							height: 20px;
							margin-right: 10px;
						}
					}
				}
				
			}
		}
	}
}